.btn-category {
  position: relative;
  color: #999999;
}
.btn-category::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 2px;
  content: '';
  background-color: #e1e0e0;
  z-index: 5;
}

.btn-category::before {
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 0;
  height: 2px;
  content: '';
  background-color: #717fe0;
  z-index: 10;
  transition: all 0.3s linear;
}
.btn-category:hover {
  color: #717fe0;
}

.btn-category:hover::before {
  width: 100%;
}
.dropdown-category {
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}
.dropdown-category.active {
  height: 100%;
  opacity: 1;
}
