/*Sub Routes*/

.sub-routes {
  position: relative;
  cursor: pointer;
  color: #666666;
  border: none;
  /* transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear; */
}
.sub-routes:hover {
  color: #333333;
}
.sub-routes::after {
  position: absolute;
  content: '';
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 1px;
  background-color: #333333;
  opacity: 0;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  z-index: 2;
}

.sub-routes:hover.sub-routes::after {
  width: 100%;
  opacity: 1;
}

.sub-routes.active::after {
  width: 100%;
  opacity: 1;
}

.btn-filter {
  position: relative;
  padding: 8px 24px;
  color: #999999;
  border: 1px solid #e1e0e0 !important;
  border-radius: 4px;
}
.btn-filter:hover {
  background-color: #717fe0 !important;
  color: #fff;
}
.btn-filter.active {
  background-color: #e1e0e0;
}
.btn-filter.active::before {
  position: absolute;
  bottom: -30%;
  left: 50%;
  transform: translateX(-50%);
  content: '';
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #e1e0e0;
  transition: all 0.3s linear;
  z-index: 1;
}
.btn-filter.active:hover::before {
  border-top: 12px solid #717fe0;
}
.dropdown-filter {
  font-size: 15px;
  height: 0;
  background-color: #e1e0e0;
  display: flex;
  justify-content: space-between;
  transition: all 0.2s linear;
  overflow: hidden;
}
.dropdown-filter.active {
  padding: 40px 28px;
  height: 218px;
}
.pagination {
  width: 36px;
  height: 36px;
  border: 1px solid #333333;
  border-radius: 50%;
}

.pagination:hover {
  background-color: #333333;
  color: #fff;
}

.pagination.active {
  background-color: #333333;
  color: #fff;
}
