@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Poppins, sans-serif;
  src: url('./assets/fonts/Poppins-Black.ttf');
}
:root {
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 80px;
}
img {
  object-fit: cover;
  -webkit-object-fit: cover;
  flex-shrink: 0;
  flex-grow: 0;
  flex: 0 0 auto;
}
nav {
  /* position: -webkit-sticky; */
  /* position: sticky; */
  position: fixed;
  top: 0;
  width: 100%;
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  z-index: 100;
}
nav.active {
  background: #fff;
  height: 74px;
  box-shadow: 0 0px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0px 3px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0px 3px 0px rgba(0, 0, 0, 0.2);
}
button {
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
/* Style BannerHome*/
.img-slider {
  position: absolute;
  width: 0;
  height: 0;
  scale: 0;
  opacity: 0;
  z-index: -100;
}
.img-slider-content {
  position: absolute;
  flex-shrink: 0;
  flex-grow: 0;
  z-index: 20;
}

/*Overlay*/

.overlay {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

/* Style CategoryHome*/

.btn-category {
  position: relative;
}
.btn-category::after {
  position: absolute;
  content: '';
  bottom: -5px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
}
.btn-category > button {
  -webkit-transition: all 0.3s ease;
  -webkit-transition-delay: 0.3s;
  transition: all 0.3s ease;
  transition-delay: 0.3s;
  opacity: 0;
  transform: translateY(12px);
}
.btn-category.active > button {
  transform: translateY(0);
  opacity: 1;
}

.btn-category.active::after {
  width: 100%;
}

/* Style StoreHome*/
.product-preview > img {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.product-preview:hover > img {
  transform: scale(1.1);
}

/* Style BlogHome*/
.blog-preview > img {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.blog-preview:hover > img {
  transform: scale(1.1);
}

/*Style AboutPage*/

.article-about-img {
  position: relative;
}
.article-about-img::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  border: 4px solid #e1e0e0;
  z-index: -1;
}
.article-about:nth-child(even) > .article-about-img::before {
  transform: translate(20px, 20px);
}
.article-about:nth-child(odd) > .article-about-img::before {
  transform: translate(-20px, 20px);
}

/*Sub Routes*/

.sub-routes {
  position: relative;
  cursor: pointer;
  color: #666666;
  border: none;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}
.sub-routes:hover {
  color: #333333;
}
.sub-routes::after {
  position: absolute;
  content: '';
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 1px;
  background-color: #333333;
  opacity: 0;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  z-index: 2;
}

.sub-routes:hover.sub-routes::after {
  width: 100%;
  opacity: 1;
}
